<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>
Reset Password
</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
            <div class="content-block-centred">
                <a href="http://nesterly.io"><img src="http://milanks.com/NesterlyLogo.png" style = "width:200px; margin-top:20px;"></a>
             </div>
			<div class="content">
                
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
                   
					<tr>
						<td class="alert alert-warning">
                            Reset your password
						</td>
					</tr>
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0">
                                
                                 <tr>
									<td class="content-block">
Hello, <%= @resource.email %>. <br><br> Please click the button below to select a new secure password to log into the site. If you don’t need a new password, please ignore this email and continue using your current login info.
									</td>
								</tr>
                            
                                
								<tr>
									<td class="content-block-centred">
                                        <a class="btn-primary">
                                        <%= link_to 'Reset My Password', edit_password_url(@resource, reset_password_token: @token) % class="btn-primary">
                                        </a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
                             <tr>
                                <td class="aligncenter">
										Questions? Call us at 781-205-9607<br>
                                     <a href="https://nesterly.activehosted.com/proc.php?nl=0&c=94&m=95&s=bad97c655476f96a390a72c05a742011&act=unsub">Unsubscribe</a>&emsp;&emsp;<a href="http://nesterly.io">View Website</a> 
								</td>
                            </tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
