@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i);
/* Colours */

Body, p{color:#333;}
em{color:white;}
a{color:inherit; border-bottom:solid 1px black; text-decoration:none; border-color: inherit;}

/* Typography */

body, input {line-height: 1.4; }
ul li, p, a, em, h1, h2{font-family: "Roboto Mono"; font-weight: 300;}
p{line-height: 1.4; font-size:10pt;}
a{}
em{font-size:10pt;}
h1 {font-size: 50px;margin: 0px 0px 5px 0px; font-style:italic; font-weight:700;color:#333; text-decoration:underline; color:pink;}
h2 { font-size: 20px; margin: 0px 0px 5px 0px; display: table-cell; vertical-align: top; color:pink;}

/* Layout */

body { padding: 0px; margin:0px; height: 100vh;
    background:#e3e3e3;
}

#container{ 
    margin: 0px auto;
    margin-left:75px;
    min-height: 90vh;
}

#navbar{
    background: #e3e3e3;
    position:fixed; 
    padding-top:25px;
    min-width: 960px;
    border-bottom:-1px;
    z-index: 10;
}

div#content {
    padding-top: 75px;
}

.col {
    margin: 0px 10px 0px 0px; 
    padding: 0px; 
    min-height:10px;
    float: left;
}

/*.col .col { margin: 0px; }*/

.one { width: 60px; }
.two { width: 160px;}
.three { width: 200px; }
.four { width: 250px; }
.five { width: 380px; }
.six { width: 420px; }
.seven { width: 540px; }
.eight { width: 650px; }
.nine { width: 700px; }
.ten { width: 780px; }
.eleven { width: 860px; }
.twelve { width: 1000px; }

h1, em, h2{ display: block;}

a img { border: 0px;}
.col hr { margin: 0px 0px 15px; }

input#filter { display: inline; width: auto; padding: 1px 0px; border: 0px; background: #000; font-size: inherit; color: inherit; }
    
em, h2{
    margin:10px 20px 10px 0px;
}

.project-list .content-block { 
    overflow: hidden;
    margin:0px 10px 10px 0px;
    background:pink;
    width:200px;
} 

.content-block .thumbnail{
    height:200px;
    margin:0px;
    width:auto;
}

.content-block .summary {
    position:absolute;
    margin:20px 0px 0px 20px;
    padding:0px 0px 10px 20px;
    pointer-events: none;
    border: solid 0px pink;
    box-sizing: border-box;
    height:160px;
    display:none;
    background:rgba(0,0,0,0);
}

.project-list .content-block:hover .summary{
    display:block;
}

.project-list .content-block:hover .thumbnail{
    display:block;
}

.description p{font-size:11pt;}

.category, div.para, .description{ box-sizing:border-box; padding:20px 0px 10px 25px; margin:0px 10px 10px 0px; }

.category{ border:solid 0px #222; height:200px; z-index: -1; background:pink;}

.description{ height:200px;}
.project-list .description:hover {background:none;}
.project-list .description:hover h1{color:rgba(0,0,0,0);}

div.para{position:fixed; font-size:10pt; background:pink;}

div.description p, div.description em, .para p, .category p{margin:10px 25px 10px 0px;}

div#media{white-space: nowrap; margin-left:-25px;}

.image img{
    display:block; 
    width:100%; 
    height:auto; 
    margin-bottom: 10px;
}

div#media .image{display:inline-block; margin-right:75px; vertical-align: top;}

div#media img{height:75vh; width:auto; vertical-align: top;}

div.media { margin: 0px 0px 0px;}

p#footer { margin: 0px 0px 0px 340px; display: inline; line-height: 1.4; }
p#footer em { display: block; }

a.atom-rss { margin: 0px 0px 0px 6px; padding: 2px 3px 0px; font-size: 0.93em; letter-spacing: 0.08em; background: #ddd; }